<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load staticfiles %}
    <link rel='stylesheet' type='text/css' href='{% static "myauth/style.css" %}'>
</head>
<body>
<div id='wrapper'>
    <h1>BLOODZONE</h1>
    <section>
        <div id='left-div'>
            <button>SIGN IN WITH GOOGLE</button>
            <button>SIGN IN WITH FACEBOOK</button>
            <button>SIGN IN WITH TWITTER</button>
        </div>
        <div id='right-div'>
            <form action='' method='post'>
                <label>NAME: <input id='one' type='text' align="right" name='name'></label><br>
                <label>EMAIL: <input id='two' type='text' name='email'></label><br>
                <label>PASSWORD: <input id='three' type='text' name='password'></label><br>
                <label>CONFIRM: <input id='four' type='text' name='confirm'></label><br>
                <input class='reglog' type='submit' value='Register'>
            </form>
            <form action='' method='post'>
                <label>Login: <input id='five' type='text' name='email'></label><br>
                <label>Password: <input id='six' type='text' name='password'></label><br>
                <input class='reglog' type='submit' value='Login'>
            </form>
        </div>
    </section>
</div>
</body>
</html>